
.bg-amarelo {
    /* color:#F8D117; */
    background-color: #d6b206 !important;
}

.bg-azul {
    background-color:#225198;
}

.branco {
    color: white !important;
}

.btn-bb {
    background-color: #faf046 !important;
    color:#225198;
    font-size: 1.5em !important;
}

.cinza {
    color: #999;
    color: #555;
}

.verde {
    color: #58ad15;
}

/* Criar grupo */
.title {
    color: white;
  }

  .bottomBorder {
    border-bottom: 40px;
    border-style: solid;
    border-bottom-color: #ffee02;
  }

  .formDadosGrupo {
    width: 90%;
    margin-left: 10% !important;
  }

  .formDadosGrupo input {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    width: 90%;
    background: white;
  }

  .formDadosGrupo input:focus {
    padding-top: 1px;
  }

  .boxParticipantes {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 80%;
    height: 200px;
    margin-top: 20px;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  h6 {
    font-size: 14px;
    padding-top: 7px;
  }

  .botaoFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #faf046;
    color: white;
    text-align: center;
    height: 28px;
    margin-bottom: 10px;
  }
  .adicionarParticipante {
  }