.bg-amarelo {
  /* color:#F8D117; */
  background-color: #d6b206 !important;
}

.bg-azul {
  background-color: #225198;
}

.branco {
  color: white !important;
}

.btn-bb {
  background-color: #faf046 !important;
  color: #225198;
  font-size: 1.5em !important;
}

.cinza {
  color: #999;
  color: #555;
}

.verde {
  color: #58ad15;
}

/* Criar grupo */
.title {
  color: white;
}

.bottomBorder {
  display: block;
  border-top: 4px solid #faf046;
  margin: 0px;
}

.formDadosGrupo {
  width: 100%;
}

.formDadosGrupo input {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  width: 90%;
  background: white;
}

.formDadosGrupo input:focus {
  padding-top: 1px;
}

.divParticipantes {
  border-width: 2px;
  width: 80%;
  margin-top: 20px;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

h6 {
  font-size: 14px;
  padding-top: 7px;
}

.botaoFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #faf046;
  color: white;
  text-align: center;
  height: 28px;
  margin-bottom: 10px;
}
.divDivisaoTitulo {
  width: 100%;
  background: #f2f2f2;
  height: 40px;
  margin-bottom: 10px;
}

.divDivisaoTitulo p {
  padding-left: 10px;
  padding-top: 10px;
}

.addParticipantes {
  margin-left: 30px;
  margin-bottom: 10px;
}

.addParticipantes button {
  text-decoration: none;
  color: black;
  background: none;
  border: 0px;
}

.botaoFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #faf046;
  color: white;
  text-align: center;
  height: 28px;
  margin-bottom: 10px;
}

#img_link {
  max-width: 100%;
  height: auto;
}

.meusGrupos ul {
  padding-left: 10px;
  padding-right: 10px;
}

.meusGrupos li {
  list-style-type: none;
  list-style-position: inside;
}

.meusGrupos a {
  text-decoration: none;
  color: black;
  background: none;
  border: 0px;
}

.modal-dialog {
  position: fixed;
  top: auto;
  right: auto;
  left: auto;
  bottom: 0;
}

.modalParticipante button {
  text-decoration: none;
  color: black;
  background: none;
  border: 0px;
}

.modalParticipante {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.formDadosParticipante {
  width: 70%;
  padding-left: 10%;
}

.formDadosParticipante input {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  width: 90%;
  background: white;
}

.listaParticipantes li {
  list-style-type: none;
  list-style-position: inside;
}

.listaParticipantes button {
  text-decoration: none;
  color: black;
  background: none;
  border: 0px;
}

.setaDireita {
  float: right;
  padding-bottom: 25px;
}

.dadosParticipante {
  display: inline-block;
  vertical-align: middle;
  align-content: space-between;
  width: 90%;
}
.dadosParticipante p {
  align-self: flex-start;
  text-align: justify;
  margin-left: 50px;
  margin-bottom: 2px;
  width: 70%;
}

.botaoDadosParticipante {
  width: 100%;
}
