
.bg-amarelo {
    /* color:#F8D117; */
    background-color: #d6b206 !important;
}

.bg-azul {
    background-color:#225198;
}

.branco {
    color: white !important;
}

.btn-bb {
    background-color: #faf046 !important;
    color:#225198;
    font-size: 1.5em !important;
}

.cinza {
    color: #999;
    color: #555;
}

.verde {
    color: #58ad15;
}