<div>
  <header>
    <nav class="navbar justify-content-between navbar-light bg-azul">
      <a href="#!meus-grupos">
        <img title="voltar" alt="voltar" src="img/back.png" />
      </a>

      <h6 class="title">{{ vm.grupo.nome }}</h6>

      <a href="#!tela-inicial">
        <img title="sair" alt="sair" src="img/close.png" />
      </a>
    </nav>
  </header>
  <hr class="bottomBorder" />

  <div class="divDivisaoTitulo"><p>Dados do Grupo</p></div>

  <main class="container-fluid" role="main">
    <form class="formDadosGrupo">
      Nome do grupo: <br />
      <b>{{ vm.grupo.nome }}</b> <br />
      <hr style="margin-top:1px" />
      Valor individual: <br />
      <b>{{ vm.grupo.valor | currency: "R$":2 }}</b>
      <hr style="margin-top:1px" />
    </form>
  </main>

  <div style="margin-top: 15px" class="divDivisaoTitulo">
    <p>Participantes</p>
  </div>

  <div class="listaParticipantes">
    <ul>
      <li ng-repeat="participante in vm.grupo.participantes track by $index">
        <div class="dadosParticipante">
          <img
            style="float: left;width: 40px; height: 40px;"
            ng-src="img/{{ participante.nome }}.png"
          />
          <p>
            <b>{{ participante.nome }}</b>
          </p>
          <p>
            Ag.{{ participante.agencia }} &#183; Cc.{{ participante.conta }}
          </p>
        </div>
        <img
          style="width: 30px; height: 30px;"
          ng-src="img/{{ participante.pago }}.png"
        />

        <hr style="margin-right:30px" />
      </li>
    </ul>
  </div>
</div>
