<div>
  <header>
    <nav class="navbar justify-content-between navbar-light bg-azul">
      <a href="#!principal">
        <img title="voltar" alt="voltar" src="img/back.png" />
      </a>

      <h6 class="title">GERENCIAR GRUPOS</h6>

      <a href="#!tela-inicial">
        <img title="sair" alt="sair" src="img/close.png" />
      </a>
    </nav>
  </header>
  <hr class="bottomBorder" />

  <div class="divDivisaoTitulo">Meus Grupos</div>

  <div class="meusGrupos">
    <ul>
      <li ng-repeat="grupo in vm.listaGrupos track by $index">
        <a class="btn" ng-href="#!detalhe-grupo/{{grupo.nome}}">{{ grupo.nome }}</a>
        <hr />
      </li>
    </ul>
  </div>
</div>
