<div>
  <header>
    <nav class="navbar justify-content-between navbar-light bg-azul">
      <a href="#!principal">
        <img title="voltar" alt="voltar" src="img/back.png" />
      </a>

      <h6 class="title">CRIAR NOVO GRUPO</h6>

      <a href="#!"> <img title="sair" alt="sair" src="img/close.png" /> </a>
    </nav>
  </header>
  <hr class="bottomBorder" />

  <div class="divDivisaoTitulo"><p>Dados do Grupo</p></div>

  <main class="container-fluid" role="main">
    <form class="formDadosGrupo">
      Nome do grupo: <br />
      <input
        type="text"
        name="nomeGrupo"
        ng-model="vm.dados.nome"
        value=""
        ng-required="true"
      /><br />
      Valor individual: <br />
      <input
        type="text"
        name="valorIndv"
        ng-model="vm.dados.valor"
        value=""
        ng-currency
        currency-symbol="R$ "
        ng-required="true"
      />
    </form>
  </main>

  <div style="margin-top: 15px" class="divDivisaoTitulo">
    <p>Participantes</p>
  </div>

  <div class="addParticipantes">
    <button type="button" data-toggle="modal" data-target="#exampleModal">
      <img
        style="width: 25px; height: 25px"
        title="adicionar"
        alt="adicionar"
        src="img/add.png"
      />
      Adicionar novo participante
    </button>
  </div>

  
    <div class="listaParticipantes">
        <ul>
            <li
                ng-repeat="participante in vm.dados.participantes track by $index"
            >
                <img
                    style="width: 40px; height: 40px;"
                    ng-src="img/{{ participante.nome }}.png"
                />
                <span
                    >{{ participante.nome }} {{ participante.agencia }}
                    {{ participante.conta }}</span
                >
            </li>
        </ul>
    </div>

    <footer class="footer fixed-bottom">
      <div class="container-fluid">
        <div class="row">
          <button
            class="btn btn-block btn-bb"
            ng-click="vm.salvar()"
            ng-disabled="vm.salvando"
          >
            <h6>
              <b>{{ vm.salvando ? "SALVANDO" : "CONFIRMAR" }}</b>
            </h6>
          </button>
        </div>
      </div>
    </footer>

    
  <!-- Modal -->
  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img
          style="width: 25px; height: 25px; margin-left: 120px"
          title="facebook"
          alt="voltar"
          src="img/facebook.png"
        />&nbsp; Meus Relacionamentos

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="listaParticipantes">
          <ul>
            <li
              ng-repeat="participante in vm.listaParticipantes track by $index"
              ng-if="!vm.verificaIncluido(participante)"
            >
              <button ng-click="vm.incluirParticipante(participante)">
                <img
                  style="width: 40px; height: 40px;"
                  ng-src="img/{{ participante.nome }}.png"
                />
                <span
                  >{{ participante.nome }} {{ participante.agencia }}
                  {{ participante.conta }}</span
                >
                <img
                  class="setaDireita"
                  style="width: 20px; height: 20px;float: right; margin-top: 10px"
                  src="img/seta.png"
                />
              </button>
              <hr />
            </li>
            <li ng-if="vm.listaParticipantes.length == 0">carregando...</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
