<div>
    <header>
        <nav class="navbar justify-content-between navbar-light bg-azul branco">
            <h3>
                <a href="#!" class="branco"><i class="material-icons">keyboard_backspace</i></a>
                <!-- <img title="Banco do Brasil" alt="Banco do Brasil" src="img/bb_logo.png"> -->
                <span>Vaquinha</span>
            </h3>
            <a href="index.html" class="branco">
                <i class="material-icons">close</i>
            </a>
        </nav>
    </header>
    
    <main class="container-fluid" role="main">
        <div class="row">
            <p class="lead">O <b>Banco do Brasil</b> ajuda você a dividir com seu grupo
            de amigos as despesas daquele seu futebol, a divisão daquela pizza ou organizar
            aquele bolão no trabalho.</p>
            <p class="lead">Pelo aplicativo do BB você pode:
                <ul>
                    <li>Criar e gerenciar seus grupos</li>
                    <li>Adicionar seus amigos</li>
                    <li>Acompanhar os pagamentos que já foram realizados</li>
                </ul>
            </p>
        </div>
    </main>
    
    <footer class="footer fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <a class="btn btn-block btn-bb" ng-href="#!meus-grupos">Gerenciar Meus Grupos</a>
                <a class="btn btn-block btn-bb" ng-href="#!novo-grupo">Criar um novo Grupo</a>
            </div>
        </div>
    </footer>
</div>