<div class="hidden-tablet hidden-phone">
    <header>
        <nav class="navbar justify-content-between navbar-light fixed-top bg-azul">
            <a href="#!">
                <img title="voltar" alt="voltar" src="img/back.png" />
            </a>
            <h6 class="title">VAQUINHA</h6>
            <a href="#!">
                <img title="sair" alt="sair" src="img/close.png" />
            </a>
        </nav>
    </header>

    <main class="container-fluid" role="main">
        <div class="row">
            <p class="lead">O <b>Banco do Brasil</b> ajuda você a dividir com seu grupo
                de amigos as despesas daquele seu futebol, a divisão daquela pizza ou organizar
                aquele bolão no trabalho.</p>
            <p class="lead">Pelo aplicativo do BB você pode:
                <ul>
                    <li>Criar e gerenciar seus grupos</li>
                    <li>Adicionar seus amigos</li>
                    <li>Acompanhar os pagamentos que já foram realizados</li>
                </ul>
            </p>
        </div>
    </main>

    <footer class="footer fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <a class="btn btn-block btn-bb" ng-href="#!meus-grupos">Gerenciar Meus Grupos</a>
                <a class="btn btn-block btn-bb" ng-href="#!novo-grupo">Criar um novo Grupo</a>
            </div>
        </div>
    </footer>
</div>